<%- include('../common/header.ejs',{
    title:'srt-pointdemo',
    styles:['pointdemo']
})%>
<div class="">
    
</div>
<%- include("../common/footer.ejs",{
    javascripts:[
        "pointdemo"
    ],
    libs:[]
}) %>