<%- include("./common/header-nav.ejs",{
    title:'首页',
    styles:[
        "index"
    ]
}) %>
    <p>Welcome to <%= result %></p>
<%- include("./common/footer.ejs",{
    javascripts:[
        "index"
    ]
}) %>