<div class="navs">
        <div class="nav_group">
            <div class="nav_label">
                名字
            </div>
            <div class="nav_ipt">
                <input type="text"/>
            </div>
        </div>
    </div>