<%- include('../common/header.ejs',{
    title:'static-canvas',
    styles:['canvas']
})%>
<div class="">
    <h1>welcome my page </h1>
    <canvas id="walk-man"></canvas>
</div>
<%- include("../common/footer.ejs",{
    javascripts:[
        "canvas"
    ]
}) %>