<%- include('../common/header.ejs',{
    title:'static-linechar',
    styles:['linechar']
})%>
<div class="">
    <h1>welcome my bserline </h1>
    <canvas id="canvas" width="800" height="600"></canvas> 
</div>
<%- include("../common/footer.ejs",{
    javascripts:[
        "linechar"
    ]
}) %>