<%- include('../common/header.ejs',{
    title:'static-2-thr',
    styles:['three']
})%>
<div class="">
    <h1>welcome my three </h1>
    <div id="container"></div>

    <div id="info">
    <a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - clip system
    - knight by <a href="https://vimeo.com/36113323" target="_blank" rel="noopener">apendua</a>
        <div id="meminfo"></div>
    </div>
</div>
<%- include("../common/footer.ejs",{
    javascripts:[
        "three"
    ],
    libs:[
        'dat',
        'stats',
        'three'
    ]
}) %>